{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
<body>
    <form class="signup-from" method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <h1 class="signup-h1">Create User</h1>
        <div class="div-input">
            <input type="text" id="f_name" name="f_name" required="required">
            <span>Firstname</span>
        </div>
        <div class="div-input">
            <input type="text" id="l_name" name="l_name" required="required">
            <span>Lastname</span>
        </div>
        <div class="div-input">
            <input type="text" id="username" name="username" required="required">
            <span>Username</span>
        </div>
        <div class="div-input">
            <input type="password" id="f_password" name="f_password" required="required">
            <span>Password</span>
        </div>
        <div class="div-input">
            <input type="password" id="s_password" name="s_password" required="required">
            <span>Confirm Password</span>
        </div>
        <div class="div-btn">
            <button id="signup-btn" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create Account
            </button>
        </div>
    </form>
</body>
</html>